.header
	.container
		.header-content
			a(href="#").logo
				img(src="img/icons/logo.png", alt="logo")
			nav.header-nav
				a(href="#").header-nav-item Ремонт
				a(href="#").header-nav-item Услуги
				a(href="#").header-nav-item Дизайн интерьера
				a(href="#").header-nav-item Статьи
				a(href="#").header-nav-item Бизнес мебель
			
			button.page-button
				span
					img(src="img/icons/cart.png", alt="icon")
				span  Магазин
			button.page-button.mobile-contact
				i.fas.fa-phone
			button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
				span toggle menu	
			.header-contacts
				a(href="#").contact-tg
					i.fab.fa-telegram
				
				.contact-wrapper.text-bold
					a(href="tel:8999999999").contact-item--tel +7(999)999-99-99
					a(href="#!").modal-open Перезвоните мне
			//- button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
			//- 	span toggle menu